---
layout: base.njk
title: 2018 Animation Showreel
tags: ['projects']
order: 8
thumbnail: '/images/2018_showreel_thumbnail.png'
---

<article class="project">
    <h1>2018 Animation Showreel</h1>
    <img
    src="{{ '/images/2018_showreel_cover.png' | url }}" alt="2018 Animation Showreel Cover" style="max-height:none">
<!-- TODO: Add video -->
</article>