---
layout: base.njk
title: 2018 Animation Showreel
tags: ['projects']
order: 8
thumbnail: '/images/2018_showreel_thumbnail.png'
---

<article class="project">
    <h1>2018 Animation Showreel</h1>
    <img src="{{ '/images/2018_showreel_cover.png' | url }}" alt="2018 Animation Showreel Cover" style="max-height:none">
    <div class="video-container">
        <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/Yq190cXA6Bg?si=HnkHibkM9V5yeFCo"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen></iframe>
    </div>
</article>