---
layout: base.njk
title: Are You Still There?
tags: ['projects']
order: 4
thumbnail: '/images/are_you_still_there_vet_office.png'
---

<article class="project">
    <h1>Are You Still There?</h1>
    <img src="{{ '/images/are_you_still_there_poster.png' | url }}" alt="Are You Still There? Poster" style="max-height:none">
    <p>
        My thesis film for Bezalel School for the Arts. Co-created with Anan Gibson and Shalev Ben Elya. Three short stories
        about the futility of dealing with a breakup and communicating with the other side.
    </p>
    <p>
        Worked as editor, compositor and backgrounds artist.
    </p>
    <p>
        <a
            href="https://www.youtube.com/watch?v=rpDM5PiVDFk&list=PLJyu79lA2wm663-zkHlbtUrD9eI0ToDcJ&ab_channel=IrishCowsStudio"
            target="_blank">Watch the playlist on YouTube</a>
    </p>
    <img src="{{ '/images/are_you_still_there_surgery.jpg' | url }}" alt="Are You Still There? Surgery">
    <img src="{{ '/images/are_you_still_there_phone_call.png' | url }}" alt="Are You Still There? Phone call">
    <img src="{{ '/images/are_you_still_there_living_room.png' | url }}" alt="Are You Still There? Living room">
</article>