---
layout: base.njk
title: 'Arms Trade Tycoo: Tanks'
tags: ['projects']
order: 3
thumbnail: '/images/arms_trade_tycoon_logo.png'
---

<article class="project">
    <h1>Arms Trade Tycoon: Tanks</h1>
    <img src="{{ '/images/arms_trade_tycoon_cover.jpg' | url }}" alt="Arms Trade Tycoon: Tanks Cover" style="max-height:none">
    <p>
        A management simulation game where the player is in charge of a tanks company and needs to design, engineer, assemble,
        sell and ship his tanks during historical battles starting from World War I.
    </p>
    <p>
        Worked as a freelance Unity Developer on the battle cutscene system where unique player-created tanks engage in combat.
        Additionally worked on the battle outcome calculation system as well as several UI systems.
    </p>
    <p>
        <a href="https://store.steampowered.com/app/1662210/Arms_Trade_Tycoon_Tanks/" target="_blank">Steam Link</a>
    </p>
    <div class="video-container">
        <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/YrLal5XGEZU?si=Nt3GJ3OjCYzTBmHg"
            frameborder="0"
            allow=" autoplay; picture-in-picture"
            allowfullscreen
            sandbox="allow-same-origin allow-scripts allow-pointer-lock allow-forms allow-popups allow-popups-to-escape-sandbox"></iframe>
    </div>
</article>