---
layout: base.njk
title: Beatle Ball
tags: ['projects']
order: 7
thumbnail: '/images/beatle_ball_cover.png'
---

<article class="project">
    <h1>Beatle Ball</h1>
    <img src="{{ '/images/beatle_ball_cover.png' | url }}" alt="Beatle Ball Cover" style="max-height:none">
    <p>
        A short puzzle platformer where you play a dung beetle that rolls up junk.
    </p>
    <p>
        Made for the 2019 Mix and Game Jam on itch.io. The theme was "Dimension Change" and in this game we've tried to create a
        2D Sidescroller version of Katamari's ball rolling mechanic. Developed most of the code and the physics system.
    </p>
    <p>
        <a href="https://nice-shot.itch.io/beetle-ball" target="_blank">itch.io Link</a>
    </p>
    <img src="{{ '/images/beatle_ball_screenshot-01.png' | url }}" alt="Beatle Ball Screenshot 01">
    <img src="{{ '/images/beatle_ball_screenshot-02.png' | url }}" alt="Beatle Ball Screenshot 02">
</article>