---
layout: base.njk
title: Choose
tags: ['projects']
order: 8
thumbnail: '/images/choose_cover.png'
---

<article class="project">
    <h1>Choose</h1>
    <img src="{{ '/images/choose_cover.png' | url }}" alt="Choose Cover" style="max-height:none">
    <p>
        My third year film for Bezalel School for the Arts. A robot goes into an ice cream shop and must face difficult
        choices.
    </p>
    <div class="video-container">
        <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/QlPAmuMWNeQ?si=8_tTOfvJ2jtIsWxg"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen></iframe>
    </div>
    <img src="{{ '/images/choose_zippy_on_bridge_02.png' | url }}" alt="Choose Screenshot 01">
    <img src="{{ '/images/choose_zippy_between_cup_and_cone.png' | url }}" alt="Choose Screenshot 02">
    <p>
        In addition to the film I've also created a short animation test for Zippy the Robot:
    </p>
    <div class="video-container">
        <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/lJl0GADnK74?si=RvYNYiUO6F3Amxu2"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen></iframe>
    </div>
    <p>
        Pre-production character designs and concept art:
    </p>
    <img src="{{ '/images/choose_pre_production_zippy_sketches.jpg' | url }}" alt="Choose Pre-production Zippy Sketches" style="max-height:none">
    <img src="{{ '/images/choose_pre_production_rosie_sketches.jpg' | url }}" alt="Choose Pre-production Rosie Sketches" style="max-height:none">
    <img src="{{ '/images/choose_pre_production_concept_frame.jpg' | url }}" alt="Choose Pre-production Concept Frame" style="max-height:none">
</article>