---
layout: base.njk
title: Kooply Run
tags: ['projects']
order: 1
thumbnail: '/images/kooply_run_cover.png'
---

<article class="project">
    <h1>Kooply Run</h1>
    <img src="{{ '/images/kooply_run_cover.png' | url }}" alt="Kooply Run Cover" style="max-height:none">
    <p>
        Kooply is a mobile gaming startup that specializes on games with built-in editors that allow players to create and share
        their own levels. Kooply Run is the company's flagship app. It's a 3D runner game in the vein of Subway Surfers and
        Sonic Dash and it allows players to create unique levels on their phones using a very powerful editor.
    </p>
    <p>
        <a href="https://play.google.com/store/apps/dev?id=8715937037652952131" target="_blank">Play Store</a>
        |
        <a href="https://apps.apple.com/il/app/kooply-run-subway-craft/id6445995538" target="_blank">App Store</a>
    </p>
    <div class="video-container">
        <iframe
            src="https://www.youtube.com/embed/XcAJbrJdysM"
            title="Kooply Run Promo Video"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen></iframe>
    </div>
    <p>
        Been working at the company since 2023 as a Unity Developer as part of the level creators squad. Introduced features
        like different level types, music library, community level competitions, inbox, comments and many more.
    </p>
</article>