---
layout: base.njk
title: Shelter
tags: ['projects']
order: 9
thumbnail: '/images/shelter_cover.jpg'
---

<article class="project">
    <h1>Shelter</h1>
    <div class="video-container">
        <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/2ZxEw_tVPCo?si=6qs-jRE0G_c_Tn2p"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen="allowfullscreen"></iframe>
    </div>
    <p>
        Short stop motion film created with Anan Gibson. Made primarily with matches and matchboxes.
    </p>
</article>