---
layout: base.njk
title: Tap Tap Shoot
tags: ['projects']
order: 9
thumbnail: '/images/tap_tap_shoot_cover.jpg'
---

<article class="project">
    <h1>Tap Tap Shoot</h1>
    <div class="image-row">
        <img src="{{ '/images/tap_tap_shoot_cover.jpg' | url }}" alt="Tap Tap Shoot Cover" style="max-height:200px">
    </div>
    <p>
        Small cowboy-themed phone game I worked on as game developer and game designer. I mainly worked on the multiplayer
        aspects of the game. Developed in Unity.
    </p>
    <p>
        <a href="https://play.google.com/store/apps/details?id=com.CactusJam.TapTapShoot" target="_blank">Play Store</a>
    </p>
    <div class="image-row">
        <img src="{{ '/images/tap_tap_shoot_main_menu.png' | url }}" alt="Tap Tap Shoot Screenshot 01">
        <img src="{{ '/images/tap_tap_shoot_battle.png' | url }}" alt="Tap Tap Shoot Screenshot 02">
    </div>
</article>