/*
Blinking cursor after programming interest field
*/
.typed-cursor{
  opacity: 1;
  -webkit-animation: blink 1.1s infinite;
  -moz-animation: blink 1.1s infinite;
  animation: blink 1.1s infinite;
}
@keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

/*
Design write-on effect
*/
/* NOT WORKING YET...
#interests > #design {
  -webkit-mask-image: url(../assets/design_he_sprites.png);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-origin: padding, content;
}
*/
