/*
Override the jumbotron to put my name in the middle
*/
.jumbotron > h1 {
  text-align: center;
}


/*
Custom fonts
*/
@font-face {
  font-family: shimshon;
/*  src: url(../assets/shimshon_bold.ttf);*/
  src: url(../assets/shimshon.ttf);
}

@font-face {
  font-family: green_screen;
  src: url(../assets/green_screen.ttf);
}

@font-face {
  font-family: design_font;
  src: url(../assets/cafe.ttf);
}

/*
The green-screen font looks bad on the cursor so we'll keep bootstrap's font
*/
.typed-cursor:lang(en) {
  font-family: initial;
}


#interests {
  // Change the interests to be in the middle when on a small viewport
  .col-sm-6 {
    text-align: center;
  }

  ///* Change the programming title to a computer-esq font */
  //#programming:lang(he) {
  //  font-family: shimshon;
  //}

  //#programming:lang(en) {
  //  font-family: green_screen;
  //}

  ///* Change desing font and size a bit
  //#design > h3:lang(he) {
  //  font-family: design_font;
  //  font-size: 27px;
  //  letter-spacing: 1.5px;
  //}
}

// Icons
#works {
  font-size: 50px;

  :hover {
    color: #23527c;
  }

  h2:hover {
    color: inherit;
  }

  a {
    text-decoration: none;
    color: black;
  }

  p {
    font-size: 28px;
  }
}

