extends ./layout.jade

block nav_vars
  - var page = "drawings"

block content
  h1.text-center= $in.drawings

  div.row
    div#drawings-carousel.carousel.slide.center-block(data-ride="carousel",
                                                      data-interval="")  
      // Content
      div.carousel-inner(role="listbox")
        mixin Item(picture, active)
          if active
            - var classes = ["item", "active"]
          else
            - var classes = ["item"]
          div(class=classes,
              data-title=$in._drawings[picture].title || $in.untitled
              data-desc=$in._drawings[picture].description)
            img.img-responsive(src="../assets/drawings/" + picture + ".jpg")

        +Item("eyes_invite_drawing", true)
        +Item("movie_man_evolution")
        +Item("mador_logo")
        +Item("self_portrait_reaching_hand")
        +Item("ecamp_shirt")
        +Item("green_alien_dude")
        +Item("ecamp_countdown")

      // Controls
      a.left.carousel-control(role="button", data-slide="prev",
                              href="#drawings-carousel")
        span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
        span.sr-only Previous
      a.right.carousel-control(role="button", data-slide="next",
                              href="#drawings-carousel")
        span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
        span.sr-only Next
  div#picture-desc.row.text-center
    h2
    p

block pageJs
  script.
    $(function () {
      var pictureDesc = $("#picture-desc");

      function updateDescription(item) {
        pictureDesc.find("h2").text(item.data("title"));
        pictureDesc.find("p").text(item.data("desc"));
      }

      // Add data for the first element
      updateDescription($(".item.active"));

      $("#drawings-carousel").on("slide.bs.carousel", function (event) {
        updateDescription($(event.relatedTarget));
      });
    });