doctype html
html(lang=$localeName)
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport",
         content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    title Nadav Sheffer - Portfolio
    // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    // [if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]

    // bower:css 
    // endbower 
    link(rel="stylesheet", href="../css/main.css")
  body
    nav.navbar.navbar-default
      block nav_vars
        - var page = "index"
      div.container
        if $localeName === "he"
          p.navbar-text.navbar-left
            a.navbar-link(href="/en/" + page + ".html") English
        else
          p.navbar-text.navbar-right
            a.navbar-link(href="/he/" + page + ".html")= $in.hebrew

        p.navbar-text
          a.navbar-link(href="index.html")= $in.main
          

    div(class="container")
      block content
    // bower:js 
    // endbower 
    script(src="../js/main.js")
    block pageJs
