extends ./layout.jade

block nav_vars
    - var page = "sketches"

block content
    h1.text-center= $in.sketches

    div#sketch-grid.free-wall
        //- - for (var i=1; i < 5; i++)
        //-     div.brick
        //-         img(src="../assets/sketches/" + i + ".jpg")
        div.brick
            img(src="../assets/sketches/IMG_1261_rot.JPG")
        div.brick
            img(src="../assets/sketches/IMG_1256.JPG")
        div.brick
            img(src="../assets/sketches/IMG_1270_rot.JPG")
        div.brick
            img(src="../assets/sketches/IMG_1275_rot.JPG")
        div.brick
            img(src="../assets/sketches/IMG_1280.JPG")
        div.brick
            img(src="../assets/sketches/IMG_1282.JPG")
        div.brick
            img(src="../assets/sketches/IMG_1439_rot.JPG")

block pageJs
    script.
        $(function () {
            var wall = new freewall("#sketch-grid")
            wall.reset({
                selector: ".brick",
                animate: true,
                onResize: function () {
                    wall.fitWidth();
                },
                cellW: function (width) {
                    console.log("got width: " + width)
                    var cellWidth = width / 3;
                    return cellWidth - 20;
                },
                cellH: "auto",
            })

            var images = wall.container.find(".brick");
            images.find('img').load(function () {
                console.log("image: " + this.src + "was loaded");
                wall.fitWidth();
            });
        });
