extends ./layout.jade

block nav_vars
    - var page = "sketches"

block content
    h1.text-center= $in.sketches

    div#sketch-grid.free-wall
        mixin brick(name)
            div.brick
                img(id=name, src="../assets/sketches/" + name + ".jpg")

        +brick("DadDrinkingSmall")
        +brick("BottleHolderSmall")
        +brick("BurlesqueGirlSmall")
        +brick("AirConditionairRemoteSmall")
        +brick("GuyWithHatUsingComputerSmall")
        +brick("NakedWomanPointingSmall")
        +brick("SoniaCouchSmall")
        +brick("WomanCoolPoseArmsDownSmall")
        +brick("WomanHoldingHandUpSmall")
        +brick("WomanHoldingVaseSmall")
        +brick("WristWatchSmall")

block pageJs
    script.
        function createWall() {
            var wall = new freewall("#sketch-grid")
            wall.reset({
                selector: ".brick",
                animate: true,
                onResize: function () {
                    wall.fitWidth();
                },
                cellW: function (width) {
                    var cellWidth = width / 3;
                    return cellWidth - 20;
                },
                cellH: "auto",
            })

            var images = wall.container.find(".brick");
            images.find('img').load(function () {
                console.log("image: " + this.src + "was loaded");
                wall.fitWidth();
            });
            return wall;
        }

        $(function () {
            createWall();
        });
