extends ./layout.jade

block nav_vars
  - var page = "sketches"

block content
  h1.text-center= $in.sketches

  div.row.no-gutter
    div.col-xs-12.col-md-8
      img.img-responsive.center-block(src="../assets/sketches/yoav_roomate.jpg")
    div.col-xs-12.col-md-4
      img.img-responsive.center-block(src="../assets/sketches/tall_guy_using_laptop.jpg")
    div.col-xs-12
      img.img-responsive.center-block(src="../assets/sketches/covered_in_fabric_laying.jpg")