---
layout: base.njk
title: About
---

<section class="about">
    <h1>
        Hello! I'm Nadav
    </h1>
    <p>
        I'm a game developer and animator. I have a lot of experience with game design and programming using Unity and Godot and
        experience with multi-technique animation pipelines.
    </p>
    <p>
        I'm currently working in Kooply, a mobile gaming startup that focuses on games with built-in editors that allow players
        to create and share levels.
    </p>
    <p>
        I'm also a co-creators of the animated web show The Fenestas available to view on the Israeli Broadcast Corporation -
        Kan.</p>
    <p>
        I've studied Animation in Bezalel School for the Arts and created several short films using video and various animation
        techniques. I've worked with traditional hand drawn animation, cut out animation, stop motion and 3D animation with
        software like Maya and Blender.</p>
    <p>
        Besides animation and games, I have a lot of experience programming in Python and Javascript/NodeJS. I also worked on
        network research, security research and database management.</p>
    <p>
        Please send job offers or commission requests to:
        <a href="mailto:shefferu@gmail.com">shefferu@gmail.com</a>
    </p>
</section>