---
layout: base.njk
title: About
---

<section class="about">
    <h1>Hello, I’m [Your Name]</h1>
    <p>
        I’m a [your role: designer/developer/artist/etc.] passionate about creating [short pitch about what you do]. This
        portfolio showcases some of my favorite projects.
    </p>
    <p>
        Feel free to check out my works and reach out if you’d like to collaborate.
    </p>
</section>