---
layout: base.njk
title: The Fenestas
tags: ['projects']
order: 2
thumbnail: '/images/the_fenestas_characters_lineup.png'
---

<article class="project">
    <h1>The Fenestas</h1>
    <img src="{{ '/images/the_fenestas_poster.png' | url }}" alt="The Fenestas Poster" style="max-height:none">
    <p>
        Web series created for the Israeli Broadcast Corporation - Kan. A dysfunctional family has to vote its own members off
        their grandfather’s will, as part of a twisted competition for his amusement before he dies.
    </p>
    <p>
        Co-creator along with Anan Gibson and Shalev Ben Elya. Worked as editor, compositor and background artist and created a
        unique pipeline with 3D backgrounds and 2D characters.
    </p>
    <p>
        <a href="https://www.youtube.com/watch?v=uNeXsZbpG9I&list=PLXv9BeKApRvzUg2TvZEG7xVdG19MrlrIQ" target="_blank">
            Watch on YouTube
        </a>
    </p>
    <img src="{{ '/images/the_fenestas_characters_lineup.png' | url }}" alt="Characters Lineup"/>
    <img src="{{ '/images/the_fenestas_gathered_around_table.jpg' | url }}" alt="Gathered Around Table"/>
    <img src="{{ '/images/the_fenestas_tamar_and_yarden_creeping_in.png' | url }}" alt="Tamar and Yarden Creeping In"/>
</article>